* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #373736;

}

body {
    margin: auto;
    width: 100vw;
    margin-right: 0;
}

/*Här börjar min Header*/

.container-1{
    margin: auto;
    width: 100%;
    position: relative;
}
.header-img{
    margin-top: -20px;
    background-image: url(./bilder/header.png.png);
    height: 850px;
    width: 100%;
    background-position-x: center;
    background-size: 120%;
    background-repeat: no-repeat;
 
}
.titel-1 {
   font-weight: 700;
   position: absolute;
   top: 50px;
   left: 50%;
   transform: translate(-50%);


}


.titel-2{
    font-weight:800;
    position: absolute;
    left: 55%;
    top: 780px;
    font-size: 45px;
}

strong{
    font-weight:700;
}

.paragraf{
    position: relative;
    margin-top: 80px;
    font-size: 25px;
    opacity: 0.7;
    

}
.span-1{
    position: absolute;
    left: 25%;   
}

.span-2{
    position: absolute;
    left: 52.5%;
    margin-top: 25px;   
}

/*Här börjar min main*/
main{
    display: flex;
    justify-content: flex-end;
    margin-top: 190px;
    font-size: 19px;
}

.del-1{
    flex-direction: column;
    width: 400px;
    line-height: 1.4em;
    

}

.del-1 p{
    width: 400px;
    margin: 30px;
    opacity: 0.7;
}

.del-1 h2{
    width: 400px;
    margin: 30px; 
}

.main-img{
    width: 590px;
    margin-top: -120px;

    margin-left: -30px;
    

}

video{
    width: 100vw;
    margin-top: -20px;
}

/*Här börjar del-2 av min main*/




.del-2{
    display: flex;

}

.article-img-1{
 width: 40rem;
 margin-top: -50px;
    
    
}

.del-2-text{

    margin-top: 130px;
    margin-right: 105px;
    opacity: 0.7;
    line-height: 1.4;
    font-size: 19px;
    text-align: end;
    width: -30rem;
}
.del-2-text p{

     margin-top:10px;
     line-height: 1.4;
     font-size: 19px;
     width: 24rem;
     height: 14rem;
     margin-left: -30px ;
    
 }
 
    
   .people{
    margin-top: -10px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    opacity: 0.7;
    line-height: 1.4;
    font-size: 19px;
    width: 46rem;
    height: 15rem;
    
    }

    .think{
        margin-top: -40px;
    }
    
   .last-article h1 {
    line-height: 1.4;
    font-size: 40px;
    text-align: center;
    margin-top: -20rem;
   } 

   .last-article p {
    margin-top: 4rem;
    margin-left: 200px;
    margin-right: 200px;
    opacity: 0.7;
    line-height: 1.4;
    font-size: 19px;
    text-align: center;
    width: 44rem;
    transform: translate(2%);
    
   }


   .last-img{
    width: 100vw;
    height: 450px;
    margin-top: -10rem;
   }


   footer{
       display: flex;
       justify-content: space-around;
       background-color: rgb(44, 42, 42);
        width: 100vw;
        height: 400px;
   }

   .footer-1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 36rem;
   }

  .footer-1 h1{
      color: rgb(248, 245, 245);
      font-size: 25px;
      margin-top: 10rem;
      margin-left: 150px;
      

  }

  .footer-1 span{
    color: rgb(248, 245, 245);
    line-height: 1.4;
    font-size: 19px;
    margin-top: 1rem;
    margin-left: 150px;


  }

  .footer-2 span{
    display: flex;
    text-align: end;
    line-height: 1.4;
    font-size: 19px;
    margin-top: 13rem;
    color: rgb(248, 245, 245);
    margin-right: 150px;
    width: 20rem;

  }

  /*media queries för laptop*/

    @media screen and (max-width:992px){
            .titel-2{
                top: 640px;
                left: 50%;
            }
            .span-1{
                margin-top: -110px;
                display: inline-block;
                width: 50rem;
                margin-left: -2rem;
            }
            
            .span-2{
                margin-top: -75px;
                display: inline-block;
                width: 35rem;
                
            
            }

            .del-1{
                margin-top: -80px;
            }
             .main-img{
                margin-top: -200px;
             }


        .last-article h1{
        align-items: center;

      }

      .del-3{
          margin-top: 40px;;
          margin-left: -10%;
      }

      .last-article p{
          margin-top: 30px;
          margin-left: 10%;
      }

      footer{

        width: 100vw;
        gap: 5%;
      }

     

  

    @media screen and (max-width:768px){

        .container-1{
            height: 35rem;
        }

        .titel-1{
            margin-top: -30px;
        }
      .titel-2{
        font-weight:700;
        left: 55%;
        top: 480px;
        font-size: 35px;
      }
      

.span-1{
    margin-top: -40px;
    display: inline-block;
    width: 50rem;
    margin-left: -12rem;
}

.span-2{
    margin-top: -15px;
    display: inline-block;
    width: 35rem;
    margin-left: -5rem;

}
.del-1{
    margin-top: 20px;
    height: 45rem;
}
.del-1 h2{
    margin-top: -10px;
    margin-left: 12%;
}
        .del-1 p {
        width: 25rem;
            margin: 7%;
            margin-left: 12%;
            margin-top: 1rem;
        }


        .main-img{
            margin: -5%;
            height: 51rem;
            width: 30rem;
            margin-top: -120px;
            margin-right: -5%;
        }

        .del-2{
       height: 35rem;
      }

      .article-img-1{
        height: 43rem;
        width: 25rem;
      }

      .del-2-text{

        margin-top: 5rem;
      }

      .del-3{
          height: 35rem;
          margin-top: 90px;
          margin-left: -190px;
          width: 35rem;
          
      }
    
      .last-img{
          height: 23rem;
          margin-top: -270px;
      }
    .last-article h1{
        margin-top: -260px;
}
      .last-article p{
          margin-top: 7px;
          width: 41rem;
          margin-left: 5%;
        

      }

      .footer-1{

        width: 63%;
        margin-left: -10%;
      }

      .footer-2{
        width: 42%;
        margin-right: 5%;
      }
    

    }
}
    

